<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan
            base-package="com.springtest" />
    <aop:aspectj-autoproxy/>
    <aop:config>
       <aop:aspect id="log" ref="loger">
            <aop:pointcut id="getLog" expression="execution(* com.springtest.Car.go(..))"/>
            <aop:before pointcut-ref="getLog" method="start"/>
            <aop:after pointcut-ref="getLog" method="finish"/>
        </aop:aspect>

        <aop:aspect id="aspectaround" ref="myAspectAround">
            <aop:pointcut id="getLoger" expression="execution(* com.springtest.Car.driverInfo(..))"/>
            <aop:around pointcut-ref="getLoger" method="aspectAround"/>
        </aop:aspect>
    </aop:config>
</beans>